# ===== Virtual Environments =====
.venv/
.env

# ===== Python Cache =====
__pycache__/
*.pyc
*.pyo

# ===== Jupyter =====
.ipynb_checkpoints/

# ===== Large Datasets & Artifacts =====
mimic_cxr_data/
mimic-cxr-reports.zip

# ===== Trained Models =====
trained_models/

# ===== Experiment Outputs =====
evaluation_results.csv
text.txt

# ===== External / Retrieved Repos =====
emilyalsentzer/

# ===== OS / IDE Noise =====
.DS_Store
.vscode/
.idea/
